colour
cvxpy
box2d-py=2.3.5
cmake=3.25.2
cycler=0.11.0
Cython=0.29.33
graphviz
grpcio=1.51.1
gym
gymnasium
ipykernel                    
keras                        
matplotlib
nbformat
numpy=1.21.6
pandas=1.3.5
Pillow=9.4.0
plotly
progressbar
protobuf=3.19.6
pytest=7.0.1
requests
scikit-learn                 
scipy                        
seaborn=0.12.2
setuptools=67.1.0
six=1.16.0
SQLAlchemy
statsmodels=0.13.5
swig=4.1.1
tensorflow=1.15.3
torch=1.9.1
torchmeta=1.8.0
torchvision=0.10.1
tornado=6.2
tqdm 
tushare
